---
import Layout from '../layouts/JournalPost.astro';
---

<Layout
	title="About"
	description="More about Ben Maclaren, counsellor in Canberra, ACT."
	date={new Date('2026-07-05')}
	eyebrow="About"
	backHref="/"
	backLabel="← Home"
	noindex
>
	<p>About page content coming soon.</p>
</Layout>
